body {
    background-color: #231239;
}
h1 {
    background-color: #231239;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 5em;
}
.TROFÉU img {
    width: 70vh;
    height: 60vh;
    align-items: center;
}